.main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.mainTitle {
  font-size: 2.3rem;
  text-align: center;
  font-weight: 600;
  font-family: inherit;
}

.productContainer {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.productCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem 1rem 1rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px #00000040;
  font-weight: 100;
  position: relative;
}

.productInCartLabel {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #70C1B3;
  padding: 0.3rem 0.5rem;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  transition-duration: 400ms;
}
