.button {
  padding: 0.5rem;
  border-radius: 5px;
  border: 0;
  outline: 0;
  background-color: #70C1B3;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.1rem;
  transition-duration: 400ms;
}

.disabled {
  opacity: 0.5;
}

.button:hover {
  cursor: pointer;
}

.button.disabled:hover {
  cursor: not-allowed;
}